{
	"env": {
		"jest": true,
		"node": true,
		"browser": true,
		"es2021": true
	},
	"extends": [
		"airbnb",
		"airbnb-typescript",
		"prettier"
	],
	"overrides": [],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"plugins": [
		"prettier"
	],
	"rules": {
		// =========================
		// --> turn the rule off <--
		// =========================
		"react/react-in-jsx-scope": 0, // React 17+ provide support for a new version of the JSX transform
		"react/require-default-props": 0, // defaultProps => object default values
		"import/prefer-default-export": 0,
		"react/jsx-no-useless-fragment": 0,
		"no-param-reassign": 0, // redux toolkit - linting state mutations
		// =====================================
		// --> turn the rule on as a warning <--
		// =====================================
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".ts",
					".tsx"
				]
			}
		],
		"no-plusplus": [
			"error",
			{
				"allowForLoopAfterthoughts": true
			}
		],
		// ====================================
		// --> turn the rule on as an error <--
		// ====================================
		"react/function-component-definition": [
			2,
			{
				"namedComponents": "arrow-function"
			}
		], // This rule is aimed to enforce consistent function types for function components.
		"prettier/prettier": [
			2,
			{
				"endOfLine": "auto"
			}
		],
		"react/no-unstable-nested-components": [
			2,
			{
				"allowAsProps": true
			}
		],
		"react/jsx-props-no-spreading": [
			2,
			{
				"html": "ignore",
				"custom": "ignore",
				"explicitSpread": "ignore",
				"exceptions": [
					""
				]
			}
		]
	}
}